extends layout

block content
  h1 Drag balls
  h2 User tag: 
    span#userID 
      
  a(href='/') Sharing mode

  .drag#ball1
    p.id 1
  .drag#ball2
    p.id 2
  .drag#ball3
    p.id 3
  .drag#ball4
    p.id 4

  script(type='text/javascript') var host = 'http://#{settings.ip}:#{settings.port}/'
  script(data-main='/javascripts/mirrorMode.js', src='/javascripts/require.js')